{% extends "layout.html" %}

{% block title %}
    Home Page
{% endblock %}

{% block main %}

    <text class="successMessage">{{ message }}</text>
    <ul>
        {% for book in books %}
        <li>
            <h2>{{ book.name }}</h2>
            <p>Author: {{ book.author }}</p>
            <p>Genre: {{ book.genre }}</p>
            <p>Uploaded by: {{book.uploader.username}}</p>
            {% if book.id %}
                <img src="{{ url_for('cover', book_id=book.id) }}" alt="{{ book.name }} cover" style="width:100px;height:auto;">
                <!-- <embed src="{{ url_for('book', book_id=book.id) }}" alt="{{ book.name }} pdf" width="800px" height="2100px" /> -->
                <iframe src="{{ url_for('book', book_id=book.id) }}" alt="{{ book.name }} pdf" style="width: 100%;height: 100%;border: none;"></iframe>    
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    

{% endblock %}
